# Import thư viện

In [57]:
import numpy as np 
import pandas as pd 
import tmdbv3api as tmdb

In [58]:
from tmdbv3api import TMDb, Movie, Search
from os import getenv
tmdb = TMDb()

tmdb.api_key = getenv('TMDB_API_KEY')
search = Search()

# New form

In [59]:
from typing import List

"""
- Hàm lấy tên, ngày film từ wiki

"""
def get_films_on_wiki(year: int, prelink: str, title_label: str): 
    link = prelink + str(year)

    data = pd.read_html(link)
    if len(data) < 6: return None
    sub_df = pd.concat([data[2], data[3], data[4], data[5]])
  
    res = sub_df[['Opening', title_label, "Opening.1"]].copy()
    res.dropna(inplace=True)
    res.rename(columns={"Opening":"Month",title_label: "English title", "Opening.1": "Day"}, inplace=True)
    
    
    return res

- Sử lại Opening: lower_case + remove space + chuyển sang int 
- Kết hợp Opening.1 + Opening

In [60]:
dct = {
    'january' : 1, 
    'february' : 2,
    'march' : 3, 
    'april' :  4,
    'may' : 5, 
    'june' : 6, 
    'july' : 7, 
    'august' : 8, 
    'september' : 9, 
    'october' : 10, 
    'november' : 11, 
    'december' : 12
}

def combine_day_with_month(x: tuple, year : int):
    return  str(year) + "-" + str(x[0]) + "-" + str(x[1])

def month_to_int(month : str) : 
    if month not in  dct.keys():
        return None 
    return dct[month]

def released_handling(year: int, df: pd.DataFrame):
   
    df['Month'] = df['Month'].str.lower()
    df['Month'] = df['Month'].str.replace(' ', "")

    df['Month']  = df['Month'].apply(lambda x: month_to_int(x)) #con
    # df['Day'] = df['Day'].astype(str)
    # df = df[df['Day'].str.isnumeric()]
    df['Day'] = df['Day'].astype(int)
    df['Released'] = df[['Month', 'Day']].apply(lambda x: combine_day_with_month(x, year), axis=1)
    df['Released'] = pd.to_datetime(df['Released'])
    df.drop(['Month', 'Day'], inplace = True, axis=1)
    return df

    pass

In [61]:
def get_tmdb_id(title, release_date):
    if release_date is None: return None
    t  = release_date.year
    movie = search.movies(title, release_year=t)
    

    for j in movie['results']:
        if j['release_date'] == release_date.strftime('%Y-%m-%d'): 
            return j['id']
        
    return None

In [62]:
def gather_data(country: str, year_start: int, year_end): 
    prelink = 'https://en.wikipedia.org/wiki/List_of_' + country + "_films_of_"
    data_set = pd.DataFrame(columns=['Released', 'English title', 'TMDB_id']) # create
    for i in range(year_start, year_end + 1): 
        print(f'Year: {i}')
        compo_df = get_films_on_wiki(i, prelink, "Title")
        
        if compo_df is None: continue
        compo_clean = released_handling(df= compo_df, year=i)
        
        compo_clean['TMDB_id'] = compo_clean[['English title', 'Released']].apply(lambda x: get_tmdb_id(x[0], x[1]), axis = 1)

        data_set = pd.concat([data_set, compo_clean])
        
        
    return data_set

In [66]:

t = gather_data("Japanese",2023, 2023)
t.dropna(inplace=True)
t['TMDB_id'] = t['TMDB_id'].astype(int)
t.reset_index(inplace=True)
path = 'Data/raw_jap_23.csv'
t.to_csv(path)

Year: 2023

C:\Users\Asus\AppData\Local\Temp\ipykernel_13652\1445721280.py:17: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return  str(year) + "-" + str(x[0]) + "-" + str(x[1])
C:\Users\Asus\AppData\Local\Temp\ipykernel_13652\624537061.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  compo_clean['TMDB_id'] = compo_clean[['English title', 'Released']].apply(lambda x: get_tmdb_id(x[0], x[1]), axis = 1)
C:\Users\Asus\AppData\Local\Temp\ipykernel_13652\624537061.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data_set = pd.concat([data_set, compo_clean])

In [64]:
t

     index   Released                            English title  TMDB_id
0        0 2021-01-01                    Seitokai Yakuindomo 2   653858
1        2 2021-01-08                       Gintama: The Final   732203
2        3 2021-01-08                         Angry Rice Wives   756197
3        8 2021-01-22  The Night Beyond the Tricornered Window   695244
4        9 2021-01-29                          The Master Plan   722805
..     ...        ...                                      ...      ...
102     32 2021-12-10             Your Turn to Kill: The Movie   915295
103     35 2021-12-17          Kamen Rider: Beyond Generations   887344
104     36 2021-12-17                           Struggling Man   890326
105     37 2021-12-24                         Jujutsu Kaisen 0   810693
106     39 2021-12-31                 The End of the Pale Hour   921757

[107 rows x 4 columns]