# Import thư viện

In [1]:
import numpy as np 
import pandas as pd 
import tmdbv3api as tmdb

In [2]:
from tmdbv3api import TMDb, Movie, Search
from os import getenv
tmdb = TMDb()

tmdb.api_key = getenv('TMDB_API_KEY')
search = Search()

# New form

In [41]:
from typing import List

"""
- Hàm lấy tên, ngày film từ wiki

"""
def get_films_on_wiki(year: int, prelink: str, title_label: str): 
    link = prelink + str(year)

    data = pd.read_html(link)
    if len(data) < 6: return None
    sub_df = pd.concat([data[1], data[2], data[3], data[4]])
  
    res = sub_df[['Opening', title_label, "Opening.1"]].copy()
    res.dropna(inplace=True)
    res.rename(columns={"Opening":"Month",title_label: "English title", "Opening.1": "Day"}, inplace=True)
    
    
    return res

- Sử lại Opening: lower_case + remove space + chuyển sang int 
- Kết hợp Opening.1 + Opening

In [4]:
dct = {
    'january' : 1, 
    'february' : 2,
    'march' : 3, 
    'april' :  4,
    'may' : 5, 
    'june' : 6, 
    'july' : 7, 
    'august' : 8, 
    'september' : 9, 
    'october' : 10, 
    'november' : 11, 
    'december' : 12
}

def combine_day_with_month(x: tuple, year : int):
    return  str(year) + "-" + str(x[0]) + "-" + str(x[1])

def month_to_int(month : str) : 
    if month not in  dct.keys():
        return None 
    return dct[month]

def released_handling(year: int, df: pd.DataFrame):
   
    df['Month'] = df['Month'].str.lower()
    df['Month'] = df['Month'].str.replace(' ', "")

    df['Month']  = df['Month'].apply(lambda x: month_to_int(x)) #con
    # df['Day'] = df['Day'].astype(str)
    # df = df[df['Day'].str.isnumeric()]
    df['Day'] = df['Day'].astype(int)
    df['Released'] = df[['Month', 'Day']].apply(lambda x: combine_day_with_month(x, year), axis=1)
    df['Released'] = pd.to_datetime(df['Released'])
    df.drop(['Month', 'Day'], inplace = True, axis=1)
    return df

    pass

In [5]:
def get_tmdb_id(title, release_date):
    if release_date is None: return None
    t  = release_date.year
    movie = search.movies(title, release_year=t)
    

    for j in movie['results']:
        if j['release_date'] == release_date.strftime('%Y-%m-%d'): 
            return j['id']
        
    return None

In [18]:
def gather_data(country: str, year_start: int, year_end): 
    prelink = 'https://en.wikipedia.org/wiki/List_of_' + country + "_films_of_"
    data_set = pd.DataFrame(columns=['Released', 'English title', 'TMDB_id']) # create
    for i in range(year_start, year_end + 1): 
        print(f'Year: {i}')
        compo_df = get_films_on_wiki(i, prelink, "Title")
        
        if compo_df is None: continue
        compo_clean = released_handling(df= compo_df, year=i)
        
        compo_clean['TMDB_id'] = compo_clean[['English title', 'Released']].apply(lambda x: get_tmdb_id(x[0], x[1]), axis = 1)

        data_set = pd.concat([data_set, compo_clean])
        
        
    return data_set

In [50]:

t = gather_data("American",2020, 2023)
t.dropna(inplace=True)
t['TMDB_id'] = t['TMDB_id'].astype(int)
t.reset_index(inplace=True)
path = 'Data/raw_usa_2020s.csv'
t.to_csv(path)

Year: 2020

C:\Users\Asus\AppData\Local\Temp\ipykernel_16164\1445721280.py:17: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return  str(year) + "-" + str(x[0]) + "-" + str(x[1])
C:\Users\Asus\AppData\Local\Temp\ipykernel_16164\624537061.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  compo_clean['TMDB_id'] = compo_clean[['English title', 'Released']].apply(lambda x: get_tmdb_id(x[0], x[1]), axis = 1)
C:\Users\Asus\AppData\Local\Temp\ipykernel_16164\624537061.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data_set = pd.concat([data_set, compo_clean])

Year: 2021

C:\Users\Asus\AppData\Local\Temp\ipykernel_16164\1445721280.py:17: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return  str(year) + "-" + str(x[0]) + "-" + str(x[1])
C:\Users\Asus\AppData\Local\Temp\ipykernel_16164\624537061.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  compo_clean['TMDB_id'] = compo_clean[['English title', 'Released']].apply(lambda x: get_tmdb_id(x[0], x[1]), axis = 1)

Year: 2022

C:\Users\Asus\AppData\Local\Temp\ipykernel_16164\1445721280.py:17: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return  str(year) + "-" + str(x[0]) + "-" + str(x[1])
C:\Users\Asus\AppData\Local\Temp\ipykernel_16164\624537061.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  compo_clean['TMDB_id'] = compo_clean[['English title', 'Released']].apply(lambda x: get_tmdb_id(x[0], x[1]), axis = 1)

Year: 2023

C:\Users\Asus\AppData\Local\Temp\ipykernel_16164\1445721280.py:17: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return  str(year) + "-" + str(x[0]) + "-" + str(x[1])
C:\Users\Asus\AppData\Local\Temp\ipykernel_16164\624537061.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  compo_clean['TMDB_id'] = compo_clean[['English title', 'Released']].apply(lambda x: get_tmdb_id(x[0], x[1]), axis = 1)

In [43]:
t

    index   Released                                  English title  TMDB_id
0       0 2019-01-16                      The Kid Who Would Be King   454294
1       1 2019-01-18                                          Close   460321
2       8 2019-01-26                                  The Wolf Hour   483353
3       9 2019-01-26                                         Wounds   505423
4      21 2019-02-27                                Lancaster Skies   517517
5      27 2019-03-15                            Fisherman's Friends   559713
6       1 2019-04-19                     Once Upon a Time in London   468339
7       3 2019-04-28       Nomad: In the Footsteps of Bruce Chatwin   592710
8       6 2019-05-10                                  The Corrupted   512239
9      14 2019-05-24                                     Avengement   534490
10      2 2019-07-26  Horrible Histories: The Movie – Rotten Romans   553002
11      6 2019-08-29                                 Marriage Story   668735
12      8 2019-08-30                                   The Informer   466081
13     18 2019-09-05                                          Rocks   575773
14     23 2019-09-07                                          Greed   567598
15      3 2019-11-01                                    Arctic Dogs   416153
16      7 2019-11-22                                     Blue Story   621191
17      8 2019-11-22                                    The Courier   611914
18      9 2019-12-02                                 The Last Faust   652778