## Import Data

In [1]:
import pandas as pd 
import numpy as np

In [5]:
import os

main_data_dir = os.path.join(os.path.dirname(os.path.curdir), '..', 'Main_data')
main_csv_file = os.path.join(main_data_dir, 'main_1.csv')

In [14]:

   
main_data = pd.read_csv(main_csv_file)

for i in range(2, 12): 
    main_csv_file = os.path.join(main_data_dir, 'main_' + str(i) + '.csv')
    tmp_data = pd.read_csv(main_csv_file)

    main_data = pd.concat([main_data, tmp_data])

In [15]:
main_data = main_data[['Released', 'English title', 'TMDB_id', 'Genre', 'Score', 'Popularity', 'Overview', 'Or_lan', 'Casts']]

In [16]:
main_data = main_data.reset_index(drop = True)

In [17]:
main_data.tail()

,Released,English title,TMDB_id,Genre,Score,Popularity,Overview,Or_lan,Casts
10249,2003-04-16,Chasing Papi,24621,Comedy Romance,6.896,11.638,Playboy Thomas Fuentes has so far been able to...,en,"{'cast': [{'adult': False, 'gender': 1, 'id': ..."
10250,2003-04-16,A Mighty Wind,13370,Comedy Music,6.804,19.548,Director Christopher Guest reunites the team f...,en,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."
10251,2003-04-18,Holes,8326,Adventure Family Drama Comedy,6.844,27.043,A wrongfully convicted boy is sent to a brutal...,en,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."
10252,2003-04-25,Confidence,10743,Action Comedy Thriller Crime Mystery,6.274,10.961,What Jake Vig doesn't know just might get him ...,en,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."
10253,2003-04-25,Identity,2832,Mystery Thriller,7.183,29.037,Complete strangers stranded at a remote desert...,en,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."

In [18]:
main_data['Casts'] = main_data['Casts'].apply(lambda x : eval(x))

In [19]:
def casts_info_name (x: dict, i: int): 
    if 'cast' not in x : return None 
    if len(x['cast']) < i : return None 
    return x['cast'][i - 1]['name']

def casts_info_po (x: dict, i: int): 
    if 'cast' not in x : return None 
    if len(x['cast']) < i : return None 
    return x['cast'][i - 1]['popularity']


for i in range(1,  4): 
    path = 'Actor_' + str(i)
    main_data[path + '_name'] = main_data['Casts'].apply(lambda x: casts_info_name(x, i))
    main_data[path + '_popu'] = main_data['Casts'].apply(lambda x: casts_info_po(x, i))

In [20]:
main_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10254 entries, 0 to 10253
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Released       10254 non-null  object
 1   English title  10254 non-null  object
 2   TMDB_id        10254 non-null  int64
 3   Genre          10075 non-null  object
 4   Score          10254 non-null  float64
 5   Popularity     10254 non-null  float64
 6   Overview       9974 non-null   object
 7   Or_lan         10254 non-null  object
 8   Casts          10254 non-null  object
 9   Actor_1_name   10144 non-null  object
 10  Actor_1_popu   10144 non-null  float64
 11  Actor_2_name   10077 non-null  object
 12  Actor_2_popu   10077 non-null  float64
 13  Actor_3_name   9987 non-null   object
 14  Actor_3_popu   9987 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 1.2+ MB

In [22]:
main_data =  main_data[~main_data['Genre'].isna()]

In [23]:
main_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10075 entries, 0 to 10253
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Released       10075 non-null  object
 1   English title  10075 non-null  object
 2   TMDB_id        10075 non-null  int64
 3   Genre          10075 non-null  object
 4   Score          10075 non-null  float64
 5   Popularity     10075 non-null  float64
 6   Overview       9861 non-null   object
 7   Or_lan         10075 non-null  object
 8   Casts          10075 non-null  object
 9   Actor_1_name   9993 non-null   object
 10  Actor_1_popu   9993 non-null   float64
 11  Actor_2_name   9942 non-null   object
 12  Actor_2_popu   9942 non-null   float64
 13  Actor_3_name   9874 non-null   object
 14  Actor_3_popu   9874 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 1.2+ MB

In [24]:
result =  main_data.drop(['TMDB_id', 'Casts'],axis = 1)

In [25]:
result.to_csv('final.csv')