## Import Data

In [32]:
import pandas as pd 
import numpy as np

In [33]:
import os

main_data_dir = os.path.join(os.path.dirname(os.path.curdir), '..', 'Main_data')
main_csv_file = os.path.join(main_data_dir, 'main_1.csv')

In [34]:

   
main_data = pd.read_csv(main_csv_file)

for i in range(2, 6): 
    main_csv_file = os.path.join(main_data_dir, 'main_' + str(i) + '.csv')
    tmp_data = pd.read_csv(main_csv_file)

    main_data = pd.concat([main_data, tmp_data])

In [35]:
main_data.drop(['Unnamed: 0'], inplace = True, axis = 1)

In [36]:
main_data = main_data.reset_index(drop = True)

In [37]:
main_data.head()

,Released,English title,TMDB_id,Genre,Score,Popularity,Overview,Or_lan,Casts
0,2013-01-18,The Wee Man,121604,Drama Crime History,5.663,10.262,The true life story of the rise to power of Gl...,en,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."
1,2013-02-04,Gangs of Tooting Broadway,115459,Crime Drama,6.000,1.400,Tooting Broadway is an urban crime drama set i...,en,"{'cast': [{'adult': False, 'gender': 1, 'id': ..."
2,2013-02-08,I Give It a Year,150117,Comedy Romance,5.527,13.156,"After a quick courtship, two lovers hastily de...",en,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."
3,2013-03-04,Pulp,139026,Drama Thriller,6.000,1.357,"Thunder Racers, Infinite Finity, Rat Warriors....",en,"{'cast': [{'adult': False, 'gender': 2, 'id': ..."
4,2013-03-10,Everyone's Going to Die,173499,Drama,6.100,3.259,Melanie's life in a seaside town is going nowh...,en,"{'cast': [{'adult': False, 'gender': 1, 'id': ..."

In [38]:
main_data['Casts'] = main_data['Casts'].apply(lambda x : eval(x))

In [41]:
def casts_info_name (x: dict, i: int): 
    if 'cast' not in x : return None 
    if len(x['cast']) < i : return None 
    return x['cast'][i - 1]['name']

def casts_info_po (x: dict, i: int): 
    if 'cast' not in x : return None 
    if len(x['cast']) < i : return None 
    return x['cast'][i - 1]['popularity']


for i in range(1,  4): 
    path = 'Actor_' + str(i)
    main_data[path + '_name'] = main_data['Casts'].apply(lambda x: casts_info_name(x, i))
    main_data[path + '_popu'] = main_data['Casts'].apply(lambda x: casts_info_po(x, i))

In [43]:
main_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9938 entries, 0 to 9937
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Released       9938 non-null   object
 1   English title  9938 non-null   object
 2   TMDB_id        9938 non-null   int64
 3   Genre          9756 non-null   object
 4   Score          9938 non-null   float64
 5   Popularity     9938 non-null   float64
 6   Overview       9658 non-null   object
 7   Or_lan         9938 non-null   object
 8   Casts          9938 non-null   object
 9   Actor_1_name   9823 non-null   object
 10  Actor_1_popu   9823 non-null   float64
 11  Actor_2_name   9755 non-null   object
 12  Actor_2_popu   9755 non-null   float64
 13  Actor_3_name   9666 non-null   object
 14  Actor_3_popu   9666 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 1.1+ MB

In [45]:
result =  main_data.drop(['TMDB_id', 'Casts'],axis = 1)

In [ ]:
result.to_csv('final.csv')